# udev rules for Silicon Labs dubuggers
# The system must have a group called silabs and all users wishing to use
# an SiLabs debugger must be added to this group.

# Silicon Labs EC3
BUS=="usb", SYSFS{idVendor}=="10c4",SYSFS{idProduct}=="8044", \
	SUBSYSTEM=="usb_device", GROUP="silabs", MODE="0660"

# Silicon Labs Toolstick
BUS=="usb", SYSFS{idVendor}=="10c4",SYSFS{idProduct}=="8253", \
	SUBSYSTEM=="usb_device", GROUP="silabs", MODE="0660"


